//
// Flexicution Library with Classes
// =============================================================================

//
// Imports
// -------

@import 'flexicution';


//
// Variables
// ---------

// Breakpoints
$media-xsmall:   480px !default;
$media-small:    768px !default;
$media-medium:   960px !default;
$media-large:   1120px !default;
$media-xlarge:  1280px !default;


//
// Generate Classes
// ----------------

// Default column styling
[class*="col-"] {
  box-sizing: border-box;
  flex: 0 1 auto;
  flex-basis: 100%;
  max-width: 100%;
  padding-left:  ($flex-grid-gutter-width / 2);
  padding-right: ($flex-grid-gutter-width / 2);
  position: relative;
}

// Rows
.row { @include make-row(); }

// Extra-small
@include make-grid(xsmall);

// Small
@media (min-width: $media-small) {
  @include make-grid(small);
}

// Medium
@media (min-width: $media-medium) {
  @include make-grid(medium);
}

// Large
@media (min-width: $media-large) {
  @include make-grid(large);
}

// Extra-large
@media (min-width: $media-xlarge) {
  @include make-grid(xlarge);
}
